/*#main{
    border: solid black 1px;
    border-radius: 3px;
}*/

.container{
    margin: auto; 
    width: 30%;
    height: 600px;
    /*grid-template-rows: repeat(14, 43px);
    grid-template-columns: repeat(8, 57px);*/
    grid-template-rows: repeat(75, auto);
    grid-template-columns: repeat(50, auto);

    border: green 1px solid; 
    display: grid; 
    justify-items: stretch;
    align-items: stretch;
}

.numbers{
    background-color: rgb(130, 166, 209); 
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: x-large;
    font-weight: 200;
}

.operands{
    background-color: rgb(206, 86, 86);
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: x-large;
    font-weight: 200;
}

.result{
   grid-area: 3 / 2 / 14 / 50; 
   background-color: rgb(72, 203, 159);
   font-family: 'Lucida Sans';
   font-size: x-large;
   font-weight: 200;
}



#seven{
    grid-area: 17 / 2 / 25 / 10;    
}

#eight{
    grid-area: 17 / 12 / 25 / 20;   
}

#nine{
    grid-area: 17 / 22 / 25 / 30;  
}

#plus{
    grid-area: 17 / 32 / 25 / 40;  
}

#minus{
    grid-area: 17 / 42 / 25 / 50;  
}

#four{
    grid-area: 28 / 2 / 36 / 10;  
}

#five{
    grid-area: 28 / 12 / 36 / 20;  
}

#six{
    grid-area: 28 / 22 / 36 / 30;  
}

#multiply{
    grid-area: 28 / 32 / 36 / 40;  
}

#divide{
    grid-area: 28 / 42 / 36 / 50;  
}

#one{
    grid-area: 39 / 2 / 47 / 10;  
}

#two{
    grid-area: 39 / 12 / 47 / 20;  
}

#three{
    grid-area: 39 / 22 / 47 / 30;  
}

#pi{
    grid-area: 39 / 32 / 47 / 40;  
}

#squared{
    grid-area: 39 / 42 / 47 / 50;  
}

#zero{
    grid-area: 50 / 2 / 58 / 10;  
}

#ans{
    grid-area: 50 / 12 / 58 / 30;  
}

#square-root{
    grid-area: 50 / 32 / 58 / 50;  
}

#clear{
    grid-area: 61 / 2 / 69 / 10; 
}

#decimal{
    grid-area: 61 / 12 / 69 / 20;
}

#equal{
    grid-area: 61 / 22 / 69 / 50;  
}